<!-- <div class="modal-header">
	<h3 class="modal-title">Create new Employee</h3>
</div>  -->
<!-- <div class="modal-body"> -->
	<form role="form" name="employeeForm" novalidate class="form-horizontal"> <!-- ng-submit="submitForm()" -->
		<fieldset>
			<!-- Form Name -->
			<legend>Form Employee</legend>
			<!-- Input FullName -->
			<div class="form-group" ng-class="{'has-error' : employeeForm.fullName.$invalid &&employeeForm.fullName.$dirty}">
				<label for="fullName" class="col-md-2 control-label">Name </label>
				<div class="col-md-10">
					<input type="text" id="fullName" name="fullName" placeholder="fullName" class="form-control input-md" ng-model="editableEmployee.fullName" ng-required="ShouldShowFullName()" ng-minlength="MinlengthFullName()">
					<span class="help-block" ng-show="employeeForm.fullName.$error.required && employeeForm.fullName.$dirty">Full Name is Requied!</span>
					<span class="help-block" ng-show="employeeForm.fullName.$error.minlength && employeeForm.fullName.$dirty">FullName is minlength {{valueMinFullName}} charater.</span>
				</div>
			</div>
			<!-- textarea Notes -->
			<div class="form-group">
				<label for="notes" class="col-md-2 control-label">Notes </label>
				<div class="col-md-10">
					<textarea name="notes" id="notes" rows="5" class="form-control input-md notes" placeholder="notes" ng-model="editableEmployee.notes"></textarea>
				</div>
			</div>		
			<!-- department -->
			<div class="form-group">
				<label for="department" class="col-md-2 control-label">
					Department
				</label>
				<div class="col-md-10">
					<select name="department" id="department" class="form-control input-md" ng-model="editableEmployee.department" ng-options="depart for depart in departments">					
					</select>
				</div>
			</div>
		</fieldset>
		<fieldset>
			<legend>ui-bootstrap</legend>
			<!-- dateHired -->
			<div class="form-group">
				<label for="dateHired" class="col-md-2 control-label">Date Hired</label>
				<div class="col-md-10">
					<datepicker ng-model="editableEmployee.dateHired"></datepicker>
				</div>
			</div>
			<!-- timePicker -->
			<div class="form-group">
				<label for="mytime" class="col-md-2 control-label">My time </label>
				<div class="col-md-10">
					<timepicker ng-model="editsableEmployee.mytime"></timepicker>
				</div>
			</div>
			<!-- topProgramerLanguage -->
			<div class="form-group">
				<label for="topProgramerLanguage" class="col-md-2 control-label">Top Programer Language</label>
				<div class="col-md-10">
					<span >Model {{editableEmployee.topProgramerLanguage | json}}</span>
				
					<input type="text" placeholder="select a language" ng-model="editableEmployee.topProgramerLanguage" id="topProgramerLanguage" name="topProgramerLanguage" class="form-control input-md" typeahead="language for language in ProgramerLanguage | filter: $viewValue">
				</div>
			</div>
			<!-- rating -->
			<div class="form-group">
				<label for="rating" class="col-md-2 control-label">Rating </label>
				<div class="rating-control col-md-3">
					<rating style="outline: none;" readonly="isReadonly" ng-model="editableEmployee.rate" max="10" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
				</div>
				<div class="rating-control">
					<span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
				</div>
			</div>

			<!-- collapse -->
			<div class="form-group">
				<div class="col-md-9 col-md-offset-2">
					<div class="checkbox">
						<label>
							<input type="checkbox" name="isUnderNonComplete" ng-model="editableEmployee.isUnderNonComplete"> 
							<span tooltip="click if you will?" tooltip-placement="right" tooltip-trigger="mouseenter">isUnderNonComplete</span>
						</label>
					</div>
				</div>
			</div>
			<div class="form-group" collapse="!editableEmployee.isUnderNonComplete">
				<label for="NonCompleteNotes" class="col-md-2 control-label">Non complete</label>
				<div class="col-md-10">
					<textarea name="notes" id="notes" rows="5" class="notes form-control input-md" ng-model="editableEmployee.NonCompleteNotes"></textarea>
				</div>
			</div>

		</fieldset>
		<fieldset>
			<legend>Perks</legend>
			<!-- perks -->
			<div class="form-group">
	  			<div class="col-md-10 col-md-offset-2">
	    			<div class="checkbox">
	      				<label for="perkCard"><input type="checkbox" name="perks" id="perkCard"  value="perkCard" ng-model="editableEmployee.perkCard"> perkCard</label>
	      			</div>
		    		<div class="checkbox">
	      				<label for="perkStock"><input type="checkbox" name="perks" id="perkStock" value="perkStock" ng-model="editableEmployee.perkStock"> perkStock</label>
	      			</div>
		    		<div class="checkbox">
	      				<label for="perkSixWeek"><input type="checkbox" name="perks" id="perkSixWeek" value="perkSixWeek" ng-model="editableEmployee.perkSixWeek"> perkSixWeek</label>
	      			</div>
	  			</div>
			</div>
		</fieldset>
		<fieldset>
			<legend>PayrollType</legend>
			<!-- payrollType -->
			<div class="form-group">
	  			<div class="col-md-10 col-md-offset-2">
	    			<div class="radio">
	      				<label for="w-2"><input type="radio" name="types" id="w-2"  value="w-2" ng-model="editableEmployee.payrollType"> w-2</label>
	      			</div>
		    		<div class="radio">
	      				<label for="1009"><input type="radio" name="types" id="1009" value="1009" ng-model="editableEmployee.payrollType"> 1009</label>
	      			</div>
		    		<div class="radio">
	      				<label for="none"><input type="radio" name="types" id="none" value="none" ng-model="editableEmployee.payrollType"> none</label>
	      			</div>
	  			</div>
			</div>
		</fieldset>		
	</form>
<!-- </div> -->
<!-- <div class="modal-footer"> -->
	<!-- submit -->
	<div class="form-group">
		<div class="col-md-10 col-md-offset-2">
			<button class="btn btn-primary" name="submit" type="button" ng-click="submitForm()">Submit</button>
			<button class="btn btn-danger" name="submit" type="button" ng-click="CancelForm()">Cancel</button>
			<a href="#/home" class="btn btn-info">back home</a>			
		</div>
	</div>
<!-- </div>