<section>
  <footer class="footer" role="footer">
    <div class="footer_red">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-4 col-xs-6">
            <h4>link</h4>
            <ul class="list-unstyled">
              <li><a href="">link</a></li>
              <li><a href="">link</a></li>
              <li><a href="">link</a></li>
            </ul>
          </div>
          <div class="col-md-4 col-xs-6">
            <h4>link</h4>
            <ul class="list-unstyled">
              <li><a href="">link</a></li>
              <li><a href="">link</a></li>
              <li><a href="">link</a></li>
            </ul>
          </div>
          <div class="col-md-4 col-xs-12">
            <h4>link</h4>
            <ul class="list-unstyled">
              <li><a href="">link</a></li>
              <li><a href="">link</a></li>
              <li><a href="">link</a></li>
            </ul>
          </div>            
        </div>
      </div>
    </div>
    <div class="footer_green">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-3 col-xs-6">
            <h4>link</h4>
            <ul class="list-unstyled">
              <li><a href="">link</a></li>
              <li><a href="">link</a></li>
              <li><a href="">link</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-xs-6">
            <h4>link</h4>
            <ul class="list-unstyled">
              <li><a href="">link</a></li>
              <li><a href="">link</a></li>
              <li><a href="">link</a></li>
            </ul>
          </div>
          <div class="clearfix visible-xs"></div>
          <div class="col-md-3 col-xs-6">
            <h4>link</h4>
            <ul class="list-unstyled">
              <li><a href="">link</a></li>
              <li><a href="">link</a></li>
              <li><a href="">link</a></li>
            </ul>
          </div>  
          <div class="col-md-3 col-xs-6">
            <h4>link</h4>
            <ul class="list-unstyled">
              <li><a href="">link</a></li>
              <li><a href="">link</a></li>
              <li><a href="">link</a></li>
            </ul>
          </div>  
        </div>
      </div>
    </div>
    <div class="footer_black">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-12">
            <p class="text-muted">&copy; 2015  <a href="http://ngnam.github.io">ngnam.github.io</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</section>

