<header class="navbar navbar-default navbar-static-top" role="baner">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#/" class="navbar-brand">Angular Forms</a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>     
    </div>
    <nav class="collapse navbar-collapse">
      <!-- <p class="navbar-text">
        <g:plusone size="medium" annotation="none" href="https://plus.google.com/u/0/+Nguy%E1%BB%85nV%C4%83nNam-ng-nam/post"></g:plusone>
      </p> -->

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown"> 
          <a href="" class="dropdown-toggle" data-toggle="dropdown">Directive UI-Bootstrap<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#/datapickerdemo">Datapicker</a></li>
            <li><a href="#/timepickerdemo">Timepicker</a></li>
            <li><a href="#/typeaheaddemo">Typeahead</a></li>
            <li><a href=""></a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
